body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    width: 600px;
    padding-right: 50px;
}

.header ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    justify-content: space-between;
    flex-shrink: 0;
    width: 560px;
}

.content1 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content1-left {
    width: 600px;
    padding-right: 50px;
}

.content1-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content1-left p {
    color: #F9FAF8;
}

.content1-left button {
    background-color: #3882F6;
    border-style:none;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 6px 24px 6px 24px;
    font-weight: bold;
    
}

.content1-right {
    width: 600px;
    height: 275px;
    background-color: #6D6F6F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

/*-------------------Begin Next Content2 Section-----------------------*/
.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.image-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 50px;
}

.image-and-text p {
    text-wrap: wrap;
}

.image {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 4px;
}

/*-------------------Begin Content3 Section-----------------------*/
